<!-- Review form -->
<form
  [formGroup]="reviewFormGroup"
  (ngSubmit)="reviewSubmit()"
  class="flex flex-col gap-4 md:gap-6">
  <span
    class="text-2xl text-center sm:text-left sm:text-3xl xl:text-[40px] block mt-10"
    >Add <span class="text-[#1B8057] font-bold">Your Review</span></span
  >

  <div class="flex flex-col gap-4">
    <span class="text-xl text-center sm:text-left sm:text-2xl font-semibold"
      >Your Rating*</span
    >
    <div class="text-2xl mx-auto sm:mx-0 sm:text-2xl flex gap-1">
      @for (star of [1, 2, 3, 4, 5]; track $index) {
        @if ($index + 1 > userRating) {
          <i
            class="fa-solid fa-star text-[#8B8C8A] cursor-pointer"
            (click)="changeRating($index + 1)"></i>
        } @else {
          <i
            class="fa-solid fa-star text-[#F8C519] cursor-pointer"
            (click)="changeRating($index + 1)"></i>
        }
      }
    </div>

    <div class="flex flex-col mt-4">
      <span class="text-xl sm:text-2xl font-semibold mb-2 sm:mb-4"
        >Review Title*</span
      >
      <input
        formControlName="reviewTitle"
        type="text"
        class="w-full py-3.5 px-2 border-2 border-[#135C3E] rounded-lg text-xl sm:text-2xl"
        placeholder="Write title here"
        [class.is-invalid]="
          reviewFormGroup.controls['reviewTitle'].invalid &&
          reviewFormGroup.controls['reviewTitle'].touched
        " />
      @if (
        !reviewFormGroup.controls.reviewTitle.valid &&
        reviewFormGroup.controls['reviewTitle'].touched
      ) {
        <span class="text-red-800"
          >Title is required, please enter a title!</span
        >
      }
    </div>

    <div class="flex flex-col mt-4">
      <span class="text-xl sm:text-2xl font-semibold mb-2 sm:mb-4"
        >Review*</span
      >
      <textarea
        formControlName="reviewDescription"
        class="w-full py-3.5 px-2 border-2 border-[#135C3E] rounded-lg h-40 resize-none text-xl sm:text-2xl"
        placeholder="Review here"></textarea>
      @if (
        !reviewFormGroup.controls.reviewDescription.valid &&
        reviewFormGroup.controls['reviewDescription'].touched
      ) {
        <span class="text-red-800"
          >Description is required, please enter a description!</span
        >
      }
    </div>

    <button
      type="submit"
      class="mx-auto sm:mx-0 sm:ml-auto w-[300px] py-3 text-xl sm:text-2xl bg-[#1B8057] rounded-lg text-[#F5F8F5] mt-6 cursor-pointer">
      Submit Review
    </button>
  </div>
</form>
