<div class="hero-image">
    <img src="Images/products/hero.png" alt="" class="w-[100%] h-auto">
</div>
<div class="grid grid-cols-3 mt-10 gap-5 px-5 md:px-8 lg:px-12 xl:px-20">
    <div class="bg-red-300">Filter</div>
    <div class="col-span-2">
        <p class="text-xl text-[#353932B2] mb-5">1 of <span>{{paginatedData.length}}</span> products</p>
        <div class="grid grid-cols-1 mds:grid-cols-2 xl:grid-cols-3 gap-5">
            <div *ngFor="let item of paginatedData; let index = index"
                class="card bg-white shadow-2xl rounded-lg py-5 px-5 mb-3" appHover>
                <div class="header flex justify-between items-center mb-5">
                    <p class="bg-[#7CAD3F] text-white py-1 px-7 text-lg rounded-sm">New</p>
                    <i class="fa-regular fa-heart text-2xl hover:text-red-500 cursor-pointer"></i>
                </div>
                <img
                    src="Images/feature2.png"
                    class="m-auto h-[10rem] md:h-[11rem] lg:h-[13rem] cursor-pointer"
                    alt="Feature 2"
                    [appHover]="'Images/feature1.png'"
                />
                
                <div class="data my-1 md:my-3">
                    <p class="text-2xl text-[#454545]">$4.99</p>
                    <h3 class="my-1 lg:my-2 font-medium text-2xl sm:text-xl lg:text-3xl">
                        {{item.productName}}
                    </h3>
                    <p class="text-xl text-[#454545]">No added sugar!</p>
                    <div class="rates mt-1 lg:mt-2">
                        <i class="fa-solid fa-star text-[#EAFF00] text-lg"></i> 
                        <i class="fa-solid fa-star text-[#EAFF00] text-lg"></i> 
                        <i class="fa-solid fa-star text-[#DCDCDC] text-lg"></i>
                        <i class="fa-solid fa-star text-[#DCDCDC] text-lg"></i>
                        <i class="fa-solid fa-star text-[#DCDCDC] text-lg"></i>
                    </div>
                </div>
                
                <button class="block mt-2 sm:mt-3 md:mt-5 bg-[#7CAD3F] w-full py-2 text-white text-xl rounded-lg border-2 
                hover:cursor-pointer hover:bg-white hover:text-[#7CAD3F] hover:border-[#7CAD3F]">
                    Add To Cart
                </button>
            </div>
        </div>
        <div class="pagintion flex items-center mt-10 text-2xl">
            <i class="fa-solid fa-angle-left cursor-pointer text-[#8D8F8B] 
            w-[35px] h-[35px] rounded-[50%] pt-1 border border-[#2E39264D] text-center
            hover:bg-[#8D8F8B] hover:text-white hover:border-0" 
            (click)="pageClicked(currentPage - 1)" [ngClass]="{'disabled': currentPage === 1}"></i>
            <ul class="flex justify-center items-center ml-5 text-xl">
                <li class="mr-5" 
                    *ngFor="let page of pages"
                    [ngClass]="{'active': page === currentPage}"
                    (click)="pageClicked(page)"
                >
                    <a href="javascript:void(0)">{{page}}</a>
                </li>
            </ul>
            <i class="fa-solid fa-angle-right cursor-pointer text-[#8D8F8B] 
                w-[35px] h-[35px] rounded-[50%] pt-1 border border-[#2E39264D] text-center
                hover:bg-[#8D8F8B] hover:text-white hover:border-0"
            (click)="pageClicked(currentPage + 1)" [ngClass]="{'disabled': currentPage === totalPages}"></i>
        </div>
    </div>
</div>
