<div
  class="bg-[#FDFFF6] hidden w-full fixed top-0 h-full overflow-y-scroll md:hidden z-40"
  [ngClass]="{ hidden: !filterIsHidden }">
  <div class="flex justify-between items-center w-full bg-[#378f6b] py-4 px-6">
    <span class="text-xl text-white font-semibold">Sorting & Filters</span>
    <button
      class="text-[#378f6b] size-10 rounded-full bg-white flex items-center justify-center text-3xl"
      (click)="toggleFilterMenu()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div class="px-4">
    <app-filter (sendCategoriesObj)="passCategories($event)"></app-filter>
  </div>
</div>

<div
  class="grid grid-cols-12 gap-5 lg:gap-10 px-5 min-[1024px]:px-16 min-[1440px]:px-40 mt-[78px] md:mt-[154px]">
  <!-- Left Part -->
  <div class="hidden md:block col-span-4 xl:col-span-3">
    <app-filter (sendCategoriesObj)="passCategories($event)"></app-filter>
  </div>

  <!-- Right Part -->
  <div class="col-span-12 md:col-span-8 xl:col-span-9">
    <div class="flex justify-between items-center md:mb-4">
      <button
        (click)="toggleFilterMenu()"
        class="md:hidden px-4 py-3.5 text-[#353932B2] text-xl rounded-xl my-2 cursor-pointer transition-[background-color] font-semibold">
        <i class="fa-solid fa-filter"></i> Filter
      </button>
      @if (paginatedData.length > 0) {
        <p class="text-xl text-[#353932B2]">
          1 of <span>{{ paginatedData.length }}</span> Products
        </p>
      }
    </div>
    <app-filter-tags [categoriesObj]="passedCategories"></app-filter-tags>

    <!-- Products -->
    <div class="grid min-[500px]:grid-cols-2 xl:grid-cols-3 gap-5 lg:gap-10">
      <div
        *ngFor="let item of paginatedData; let index = index"
        class="card bg-white rounded-lg py-4 px-5 flex flex-col"
        style="box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)"
        appHover>
        <div class="header flex justify-between mb-5">
          <p
            class="bg-[#1B8057] text-white py-2 px-4 font-bold rounded-lg"
            style="box-shadow: 0px 4px 10px 0px rgba(29, 139, 94, 0.25)">
            New
          </p>
        </div>
        <img
          (click)="goToProductDetails(item._id)"
          src="{{ item.images[0].imageUrl }}"
          class="m-auto h-[10rem] md:h-[11rem] lg:h-[13rem] cursor-pointer"
          alt="Feature 2"
          [appHover]="item.images[1].imageUrl" />

        <div class="data my-2 lg:my-4 mt-4 lg:mt-6 flex flex-col gap-2">
          <div class="flex justify-between text-lg lg:text-xl">
            <p class="text-[#7DB69F]">
              {{ (item.categories[0].name | titlecase) || 'Healthy Product' }}
            </p>
            <span class="text-[#121311] font-semibold"
              ><i class="fa-solid fa-star text-[#F8C519] mr-1"></i
              >{{ item.averageRating || 0 }}</span
            >
          </div>
          <h3 class="font-medium text-xl sm:text-xl lg:text-2xl text-[#121311]">
            {{ item.name | truncateWords: 25 }}
          </h3>
          <p class="text-xl font-semibold text-[#1B8057]">
            {{ item.price }} EGP
          </p>
        </div>

        <div class="flex gap-4 justify-self-end">
          <button 
            (click)="addToCart(item._id)"
            [disabled]="cartData[item._id]"
            class="bg-[#378F6B] w-full py-2 text-white text-lg md:text-xl rounded-lg disabled:bg-gray-300 disabled:cursor-not-allowed hover:cursor-pointer hover:bg-[#307055] transition-all">
            Add To Cart
          </button>
          <button
            class="shrink-0 rounded-full flex items-center justify-center size-14 border border-[#C5C4C4] hover:text-red-500 cursor-pointer">
            <i class='fa-regular fa-heart text-3xl'></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-12">
    @if (paginatedData.length > 0) {
      <div
        class="pagintion flex items-center justify-center mt-4 mb-16 text-2xl">
        <i
          class="fa-solid fa-angle-left cursor-pointer text-[#8D8F8B] w-[35px] h-[35px] rounded pt-1 border border-[#2E39264D] text-center hover:bg-[#8D8F8B] hover:text-white hover:border-0"
          (click)="pageClicked(currentPage - 1)"
          [ngClass]="{ disabled: currentPage === 1 }"></i>
        <ul class="flex justify-center items-center ml-5 text-xl">
          <li
            class="mr-5"
            *ngFor="let page of pages"
            [ngClass]="{ active: page === currentPage }"
            (click)="pageClicked(page)">
            <a href="javascript:void(0)">{{ page }}</a>
          </li>
        </ul>
        <i
          class="fa-solid fa-angle-right cursor-pointer text-[#8D8F8B] w-[35px] h-[35px] rounded-lg pt-1 border border-[#2E39264D] text-center hover:bg-[#8D8F8B] hover:text-white hover:border-0"
          (click)="pageClicked(currentPage + 1)"
          [ngClass]="{ disabled: currentPage === totalPages }"></i>
      </div>
    }
  </div>
</div>
