<!-- <div class="h-[80vh] w-full relative flex items-center justify-center">
  <img
    src="images/home/hero/hero1.png"
    class="object-cover w-full h-full"
    alt="hero 1" />
  <h1
    class="text-3xl md:text-5xl absolute w-full text-center text-[#365D1C] font-bold">
    Your Journey To Better Health Begins Here
  </h1>
</div> -->

<div class="w-screen overflow-hidden relative">
  <div #slider class="w-screen h-full flex transition-transform duration-500">
    <div
      class="w-screen h-full relative flex items-center justify-center shrink-0">
      <img
        src="images/New Project .svg"
        class="w-full h-full object-cover"
        alt="hero 1" />
      <div
        class="absolute text-center flex justify-center items-center flex-col w-[80%]">
        <!-- <h1 class="text-3xl md:text-5xl text-[#365D1C] font-bold mb-10">
          Your Journey to Better Health Begins Here
        </h1>
        <p class="text-base md:text-lg text-[#90AA7E] font-semibold mb-10">
          Discover our carefully curated collection of natural health products,
          where quality meets purity to enhance your well-being and nurture a
          balanced lifestyle.
        </p> -->
        <a
          href=""
          class="h-[56px] bg-[#485A3B] text-white flex items-center justify-center px-10 md:px-16 rounded-lg text-lg md:text-xl cursor-pointer hover:opacity-70 transition-opacity"
          >Shop Now</a
        >
      </div>
    </div>
    <div
      class="w-screen h-full relative flex items-center justify-center shrink-0">
      <img src="images/New Project .svg" class="w-full h-full" alt="hero 1" />
      <div
        class="absolute text-center flex justify-center items-center flex-col w-[80%]">
        <h1 class="text-3xl md:text-5xl text-[#365D1C] font-bold mb-10">
          Your Journey to Better Health Begins Here
        </h1>
        <p class="text-base md:text-lg text-[#90AA7E] font-semibold mb-10">
          Discover our carefully curated collection of natural health products,
          where quality meets purity to enhance your well-being and nurture a
          balanced lifestyle.
        </p>
        <a
          href=""
          class="h-[56px] bg-[#485A3B] text-white flex items-center justify-center px-10 md:px-16 rounded-lg text-lg md:text-xl cursor-pointer hover:opacity-70 transition-opacity"
          >Shop Now</a
        >
      </div>
    </div>
    <div
      class="w-screen h-full relative flex items-center justify-center shrink-0">
      <img
        src="images/New Project.svg"
        class="object-cover w-full h-full"
        alt="hero 1" />
      <div
        class="absolute text-center flex justify-center items-center flex-col w-[80%]">
        <h1 class="text-3xl md:text-5xl text-[#365D1C] font-bold mb-10">
          Your Journey to Better Health Begins Here
        </h1>
        <p class="text-base md:text-lg text-[#90AA7E] font-semibold mb-10">
          Discover our carefully curated collection of natural health products,
          where quality meets purity to enhance your well-being and nurture a
          balanced lifestyle.
        </p>
        <a
          href=""
          class="h-[56px] bg-[#485A3B] text-white flex items-center justify-center px-10 md:px-16 rounded-lg text-lg md:text-xl cursor-pointer hover:opacity-70 transition-opacity"
          >Shop Now</a
        >
      </div>
    </div>
    <div
      class="w-screen h-full relative flex items-center justify-center shrink-0">
      <img
        src="images/New Project.svg"
        class="object-cover w-full h-full"
        alt="hero 1" />
      <div
        class="absolute text-center flex justify-center items-center flex-col w-[80%]">
        <h1 class="text-3xl md:text-5xl text-[#365D1C] font-bold mb-10">
          Your Journey to Better Health Begins Here
        </h1>
        <p class="text-base md:text-lg text-[#90AA7E] font-semibold mb-10">
          Discover our carefully curated collection of natural health products,
          where quality meets purity to enhance your well-being and nurture a
          balanced lifestyle.
        </p>
        <a
          href=""
          class="h-[56px] bg-[#485A3B] text-white flex items-center justify-center px-10 md:px-16 rounded-lg text-lg md:text-xl cursor-pointer hover:opacity-70 transition-opacity"
          >Shop Now</a
        >
      </div>
    </div>
  </div>
  <div
    (click)="dotsClick($event)"
    class="flex gap-2 mt-4 absolute bottom-10 left-1/2 -translate-x-1/2">
    @for (dot of [0, 1, 2, 3]; track $index) {
      @if (counter === dot) {
        <div
          class="size-6 border-2 border-[#485A3B] bg-[#485A3B] rounded-full cursor-pointer"
          [attr.data-index]="dot"></div>
      } @else {
        <div
          class="size-6 border-2 border-[#485A3B] rounded-full cursor-pointer"
          [attr.data-index]="dot"></div>
      }
    }
  </div>
</div>
