<div
  class="grid md:grid-cols-12 grid-cols-4 px-5 md:px-20 xl:px-40 gap-x-5 lg:gap-x-10 cursor-default py-[44px] lg:py-[88px]">
  <!-- section1 -->
  <div class="col-span-12 flex flex-col lg:gap-[40px] md:gap-[32px] gap-[20px]">
    <div class="flex flex-col lg:gap-[1rem] md:gap-[12px] gap-[8px]">
      <h1
        class="md:text-[32px] text-[24px] lg:text-[40px] text-[#1B8057] font-semibold text-center">
        Welcome to Safe Bites
      </h1>
      <p
        class="text-[16px] md:text-[20px] lg:text-[24px] text-[#121311] font-medium text-center">
        Your one-stop shop for healthy, delicious products—keto, sugar-free,
        gluten-free & more.
      </p>
    </div>
    <div class="relative w-full h-full lg:mb-[32px] md:mb-[24px] mb-[16px]">
      <img
        src="images/about us/first imag.webp"
        class="h-full w-full object-cover" />
      <div
        class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex flex-col items-center lg:gap-4 gap-2 w-full">
        <p class="text-xs md:text-sm lg:text-xl text-[#F5F8F5]">
          <span class="px-4 rounded-md">
            Hurry! Limited Stock – Get 10% Off Your First Order – Shop Now!
          </span>
        </p>
        <button
          routerLink=""
          class="bg-[#1B8057] hover:bg-[#135C3E] text-[#F5F8F5] h-[44px] w-[120px] md:w-[175px] 2xl:w-[200px] xl:w-[220px] lg:w-[150px] lg:h-[56px] 2xl:text-[18px] xl:text-[16px] text-[14px] md:text-[14px] font-semibold rounded-[8px] shadow-[0_4px_4px_rgba(38,75,45,0.25)] cursor-pointer">
          Shop Now
        </button>
      </div>
    </div>
  </div>

  <!-- section2 -->
  <div class="col-span-12 flex flex-col lg:gap-[32px] md:gap-[24px] gap-[16px]">
    <div class="flex flex-col lg:gap-[1rem] md:gap-[12px] gap-[8px]">
      <h1
        class="md:text-[24px] text-[20px] lg:text-[32px] text-[#1B8057] font-semibold text-center">
        How Safe Bites Started
      </h1>
      <p
        class="text-[12px] md:text-[16px] lg:text-[20px] text-[#121311] font-medium text-center">
        Safe Bites was created to solve the lack of keto and gluten-free
        products. Due to limited availability, healthy options were often scarce
        and hard to find. So, we decided to be the solution—making healthy
        eating easily accessible for everyone!
      </p>
    </div>

    <!-- section 3 -->
    <div class="grid grid-cols-12 lg:gap-10 gap-5">
      <div class="col-span-6">
        <img
          src="images/about us/pexels-shvetsa-3962292 2.webp"
          class="max-w-full h-auto" />
      </div>
      <div class="col-span-6">
        <img src="images/about us/third imag.webp" class="max-w-full h-auto" />
      </div>
    </div>

    <!-- section 4 -->
    <div
      class="col-span-12 flex flex-col lg:gap-[32px] md:gap-[24px] gap-[16px]">
      <div class="flex flex-col lg:gap-[1rem] md:gap-[12px] gap-[8px]">
        <h1
          class="md:text-[24px] text-[20px] lg:text-[32px] text-[#1B8057] font-semibold text-center">
          Our Mission & Vision
        </h1>
        <p
          class="text-[12px] md:text-[16px] lg:text-[20px] text-[#121311] font-medium text-center">
          At Safe Bites, we believe everyone deserves access to healthy, tasty
          food at all times. Our mission is simple: to make clean, high-quality
          food accessible and ensure that healthy eating is effortless. Our
          vision is a world where anyone can embrace a healthier lifestyle
          without compromising on flavor.
        </p>
      </div>
      <hr class="border-1 text-[rgba(0,0,0,0.20)] w-full" />

      <!-- section 5 -->
      <div
        class="col-span-12 flex flex-col lg:gap-[32px] md:gap-[24px] gap-[16px]">
        <div class="flex flex-col lg:gap-[1rem] md:gap-[12px] gap-[8px]">
          <h1
            class="md:text-[24px] text-[20px] lg:text-[32px] text-[#1B8057] font-semibold text-center">
            Our Mission & Vision
          </h1>
          <p
            class="text-[12px] md:text-[16px] lg:text-[20px] text-[#121311] font-medium text-center">
            <i class="fa-solid fa-leaf pr-2 text-[#135C3E]"></i>
            <span class="font-semibold text-[#135C3E]">Healthy products:</span>
            Sugar-free, gluten-free, and ideal for keto & low-carb diets.
          </p>
          <p
            class="text-[12px] md:text-[16px] lg:text-[20px] text-[#121311] font-medium text-center">
            <i class="fa-solid fa-truck pr-2 text-[#135C3E]"></i>
            <span class="font-semibold text-[#135C3E]"
              >Availability & Delivery:</span
            >
            Always in stock with fast delivery.
          </p>
          <p
            class="text-[12px] md:text-[16px] lg:text-[20px] text-[#121311] font-medium text-center">
            <i class="fa-solid fa-sack-dollar pr-2 text-[#135C3E]"></i>
            <span class="font-semibold text-[#135C3E]"
              >Competitive prices:</span
            >
            Offers affordability without compromising quality.
          </p>
          <p
            class="text-[12px] md:text-[16px] lg:text-[20px] text-[#121311] font-medium text-center">
            <i class="fa-solid fa-face-grin-stars pr-2 text-[#135C3E]"></i>
            <span class="font-semibold text-[#135C3E]">Custom Orders:</span>
            A solution if a product isn’t available, ensuring top quality.
          </p>
        </div>
        <button
          routerLink=""
          class="bg-[#1B8057] mx-auto hover:bg-[#135C3E] text-[#F5F8F5] h-[44px] w-[120px] md:w-[175px] 2xl:w-[200px] xl:w-[220px] lg:w-[150px] lg:h-[56px] 2xl:text-[18px] xl:text-[16px] text-[14px] md:text-[14px] font-semibold rounded-[8px] shadow-[0_4px_4px_rgba(38,75,45,0.25)] cursor-pointer">
          Shop Now
        </button>
      </div>

      <!-- section 6 -->
      <div class="grid grid-cols-12 lg:gap-10 gap-5 w-full items-stretch">
        <div class="col-span-6">
          <img
            src="images/about us/fourth.webp"
            class="w-full h-full object-cover" />
        </div>
        <div
          class="col-span-6 flex flex-col items-center justify-center gap-[1rem]">
          <div class="flex flex-col lg:gap-[1rem] md:gap-[12px] gap-[8px]">
            <h1
              class="md:text-[24px] text-[20px] lg:text-[32px] text-[#1B8057] font-semibold text-center">
              Let’s Stay in Touch!
            </h1>
            <p
              class="text-[12px] md:text-[16px] lg:text-[20px] text-[#121311] font-medium text-center">
              Stay updated with our latest offers and exclusive deals! Connect
              with us on social media or contact us anytime.
            </p>
            <p
              class="text-[12px] md:text-[16px] lg:text-[20px] text-[#121311] md:font-semibold font-bold text-center">
              Have a question? Our team is ready to assist you!
            </p>
          </div>
          <div class="flex flex-col lg:gap-[1.5rem] gap-[1rem]">
            <div class="flex text-white mx-auto gap-2">
              <div
                class="group xl:w-12 xl:h-12 lg:w-10 lg:h-10 w-8 h-8 rounded-full flex items-center justify-center transition duration-300 bg-gradient-to-b from-[#1b8057] to-[#135c3e] hover:bg-gradient-to-b hover:from-white hover:to-gray-300 shadow-[0_4px_10px_0_rgba(245,248,245,0.25)] hover:shadow-[0_4px_4px_0_#DBDCDA]">
                <i
                  class="fa-brands fa-facebook-f text-xl lg:text-2xl xl:text-3xl text-white transition duration-300 group-hover:text-[#1b8057]"></i>
              </div>
              <div
                class="group xl:w-12 xl:h-12 lg:w-10 lg:h-10 w-8 h-8 rounded-full flex items-center justify-center transition duration-300 bg-gradient-to-b from-[#1b8057] to-[#135c3e] hover:bg-gradient-to-b hover:from-white hover:to-gray-300 shadow-[0_4px_10px_0_rgba(245,248,245,0.25)] hover:shadow-[0_4px_4px_0_#DBDCDA]">
                <i
                  class="fa-brands fa-whatsapp text-xl lg:text-2xl xl:text-3xl text-white transition duration-300 group-hover:text-[#1b8057]"></i>
              </div>
              <div
                class="group xl:w-12 xl:h-12 lg:w-10 lg:h-10 w-8 h-8 rounded-full flex items-center justify-center transition duration-300 bg-gradient-to-b from-[#1b8057] to-[#135c3e] hover:bg-gradient-to-b hover:from-white hover:to-gray-300 shadow-[0_4px_10px_0_rgba(245,248,245,0.25)] hover:shadow-[0_4px_4px_0_#DBDCDA]">
                <i
                  class="fa-brands fa-instagram lg:text-2xl text-xl xl:text-3xl text-white transition duration-300 group-hover:text-[#1b8057]"></i>
              </div>
            </div>
            <button
              routerLink="/contact-us"
              class="mx-auto bg-[#E6B200] hover:bg-[#C0991B] text-[#F5F8F5] h-[44px] w-[120px] md:w-[175px] 2xl:w-[200px] xl:w-[220px] lg:w-[150px] lg:h-[56px] 2xl:text-[18px] xl:text-[16px] text-[14px] md:text-[14px] font-semibold rounded-[8px] shadow-[0_4px_4px_rgba(38,75,45,0.25)] cursor-pointer">
              Contact Us
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- reviews sections {finish} -->
<!--
<div class="flex flex-col justify-center items-center md:gap-8 gap-6">
  <h1 class="text-2xl md:text-3xl text-[#7CAD3F] font-bold">
    What Our Customers Say
  </h1>
  <div class="flex flex-row justify-center items-center md:gap-16 gap-8 lg:w-3/4 bg-[#FDFFF6]">
    <i
      (click)="prevReview()"
      [ngClass]="{
        'text-[#182013] opacity-30 cursor-not-allowed': currentindex === 0,
        'cursor-pointer hover:scale-125 md:hover:scale-150 transition-transform duration-500 ease-in-out': currentindex > 0,
      }"
      class="fa-solid fa-chevron-left text-[#182013] text-2xl"></i>
    <div class="border-2 rounded-3xl px-8 py-8 border-[#58595A] flex flex-col gap-4">
      <h1 class="text-left font-semibold text-[#182013] md:text-base text-sm">
        {{ reviews[currentindex].text }}
      </h1>
      <div class="grid md:grid-cols-[1fr_9fr] grid-cols-[1fr_7fr] gap-2 md:gap-4 lg:grid-cols-[1fr_10fr] lg:gap-6 h-1/4">
        <div>
          <img [src]="reviews[currentindex].image" class="w-full h-full object-contain" />
        </div>
        <div class="text-left flex flex-col justify-evenly">
          <h1 class="font-bold text-[#182013] md:text-lg text-sm">
            {{ reviews[currentindex].name }}
          </h1>
          <p class="text-[#8B8C8A] text-xs md:text-base">
            {{ reviews[currentindex].location }}
          </p>
        </div>
      </div>
      <div class="text-left text-sm">
        @for (star of [1, 2, 3, 4, 5]; track star) {
          <i
            class="fa-solid fa-star pl-0.5"
            [ngClass]="{
              'text-[#FFD700]': star <= reviews[currentindex].stars,
              'text-[#9E9E9E]': star > reviews[currentindex].stars,
            }"></i>
        }
      </div>
    </div>
    <i
      [ngClass]="{
        'text-[#182013] opacity-30 cursor-not-allowed': currentindex === reviews.length - 1,
        'cursor-pointer hover:scale-125 md:hover:scale-150 transition-transform duration-500 ease-in-out': currentindex < reviews.length - 1,
      }"
      (click)="nextReview()"
      class="fa-solid fa-chevron-right text-[#182013] text-2xl"></i>
  </div>
</div>
-->
