<footer class="grid py-3 md:py-6  px-6 md:px-22 bg-[#7ea450] md:grid-cols-[1fr_3fr] md:gap-6 text-center grid-cols-1 gap-4 ">
  <div class="safe-bites  flex md:flex-col gap-2  items-center md:items-start ">
    <h2 class="lg:text-4xl text-3xl text-[#FFF6F6]  md:text-left text-center order-2 md:order-0">Safe Bites</h2>
    <img src="images/about us/Black_White_Minimalist_Elegant_Beauty_House_Initial_Logo__1_-removebg-preview (2) 1.svg" class=" md:w-24 w-12 ">
  
  </div>
 <div class=" grid grid-cols-3 md:gap-4 gap-2">
  <div class="products-shop  text-left pb-2 md:pb-0 ">
    <h2 class="text-xl md:text-2xl lg:text-3xl  text-[#FAFAFA] font-semibold">
      Products
    </h2>
    <ul class="text-[#E2E2E2] mt-2 justify-self-start md:text-lg  ">
      <li><a href="#" class="hover:underline">All Products</a></li>
      <li class="md:my-2"><a href="#" class="hover:underline">Gluten-Free</a></li>
      <li><a href="#" class="hover:underline">Sugar-Free</a></li>
      <li class="md:my-2">
        <a href="#" class="hover:underline">Keto-Friendly</a>
      </li>
      <li class="md:my-2 ">
        <a href="#" class="hover:underline"> Low-Carb</a>
      </li>
    </ul>
  </div>
  <!-- End Products / Shop -->

  <div class="resources pb-2 text-left ">
    <h2 class="text-xl md:text-2xl lg:text-3xl  text-[#FAFAFA] font-semibold ">Resources</h2>
    <ul class="text-[#E2E2E2] mt-2 md:text-lg  ">
      <li><a href="#" class="hover:underline">Customer Reviews</a></li>
    </ul>
  </div>
  <!-- End Resources -->

  <div class="quick-links pb-2 text-left  ">
    <h2 class="text-xl md:text-2xl lg:text-3xl  text-[#FAFAFA] font-semibold ">Quick Links</h2>
    <ul class="text-[#E2E2E2] mt-2   grid  md:grid-cols-1  md:text-lg md:pl-2 ">
      <li><a href="#" class="hover:underline ">Home</a></li>
      <li class="md:my-2 "><a href="#" class="hover:underline ">About Us</a></li>
      <li><a href="#" class="hover:underline ">Contact Us</a></li>
      <li class="md:my-2 "><a href="#" class="hover:underline  ">My Account</a></li>
      <li><a href="#" class="hover:underline ">Privacy Policy</a></li>
     
    </ul>
</div>
  </div>
  <div class="md:col-span-2 flex flex-col md:gap-4 gap-2  ">
  <ul class="flex text-[#F6F8F5] text-3xl lg:text-4xl mt-2   gap-4  justify-center">
    <li>
      <a href="#" class="hover:text-[#F6F8F5]"
        ><i class="fa-brands fa-square-facebook md:text-3xl text-[#F5F8F5] "></i></a>
    </li>
    <li >
      <a href="#" class="hover:text-[#F6F8F5]">
     
      <i class="fa-brands fa-whatsapp md:text-3xl text-[ #F5F8F5] "></i>
    </a>
    </li>
    <li>
      <a href="#" class="hover:text-[#F6F8F5]  "
        >
        
        <i class="fa-brands fa-instagram md:text-3xl text-[ #F5F8F5]"></i
      ></a>
    </li>
  </ul>

  <p class="md:text-base text-sm text-[#FAFAFA] ">© 2025 Your Brand. All Rights Reserved & Protected</p>
</div>
</footer>

