<footer class="grid p-10 md:p-16 grid-cols-2 lg:grid-cols-4">

    <div class="safe-bites">
        <h2 class="text-2xl lg:text-3xl text-[#2E3926] font-[600]">Safe Bites</h2>
        <ul class="flex text-[#828282] text-3xl lg:text-4xl mt-4">
            <li><a href="#" class="hover:text-[#365D1C]"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="mx-3"><a href="#" class="hover:text-[#365D1C]"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#" class="hover:text-[#365D1C]"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
    </div> <!-- End Safe Bites -->

    <div class="products-shop">
        <h2 class="text-2xl lg:text-3xl text-[#2E3926] font-[600]">Products/Shop</h2>
        <ul class="text-[#828282] mt-4 text-lg lg:text-xl">
            <li><a href="#" class="hover:underline">All Products</a></li>
            <li class="my-4"><a href="#" class="hover:underline">Gluten-Free</a></li>
            <li><a href="#" class="hover:underline">Sugar-Free</a></li>
            <li class="my-4"><a href="#" class="hover:underline">Keto-Friendly</a></li>
            <li class="mb-4 lg:mb-0"><a href="#" class="hover:underline"> Low-Carb</a></li>
        </ul>
    </div> <!-- End Products / Shop -->

    <div class="resources">
        <h2 class="text-2xl lg:text-3xl text-[#2E3926] font-[600]">Resources</h2>
        <ul class="text-[#828282] mt-4 text-lg lg:text-xl">
            <li><a href="#" class="hover:underline">Customer Reviews</a></li>
        </ul>
    </div> <!-- End Resources -->

    <div class="quick-links">
        <h2 class="text-2xl lg:text-3xl text-[#2E3926] font-[600]">Quick Links</h2>
        <ul class="text-[#828282] mt-4 text-lg lg:text-xl">
            <li><a href="#" class="hover:underline">Home</a></li>
            <li class="my-4"><a href="#" class="hover:underline">About Us</a></li>
            <li><a href="#" class="hover:underline">Contact Us</a></li>
            <li class="my-4"><a href="#" class="hover:underline">My Account</a></li>
            <li><a href="#" class="hover:underline">Privacy Policy</a></li>
            <li class="mt-4"><a href="#" class="hover:underline">Terms & Conditions</a></li>
        </ul>
    </div> <!-- End Quick Links-->

</footer>

<!-- <div class="copy-right -mt-40">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#7C9B66" fill-opacity="1" d="M0,32L120,64C240,96,480,160,720,192C960,224,1200,224,1320,224L1440,224L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
        <text x="50%" y="280" text-anchor="middle" fill="#14181080" class="font-[600] text-2xl">&copy; 2025 Your Brand. All Rights Reserved</text>
    </svg>
</div> -->

<!-- <div class="copy-right -mt-40">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#7C9B66" fill-opacity="1" d="M0,32L120,69.3C240,107,480,181,720,202.7C960,224,1200,192,1320,176L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    <text x="50%" y="280" text-anchor="middle" fill="#14181080" class="font-[600] text-2xl">&copy; 2025 Your Brand. All Rights Reserved</text></svg>
</div> -->

<div class="copy-right -mt-20 md:-mt-40 lg:-mt-40 xl:-mt-56">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#7C9B66" fill-opacity="1" d="M0,64L120,106.7C240,149,480,235,720,250.7C960,267,1200,213,1320,186.7L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    <text x="50%" y="300" text-anchor="middle" fill="#14181080" class="font-[600] text-4xl lg:text-xl">&copy; 2025 Your Brand. All Rights Reserved</text></svg>
</div>