.categories {
  position: relative;
  display: inline-block;
  /* padding-bottom: 20px; */
  cursor: pointer;
}

.categories:hover .dropdown {
  display: block;
}

.active {
  font-weight: 900;
}

.rotate {
  rotate: -90deg !important;
}

.side-menu-content {
  transform: translateX(100vw);
  transition: transform 0.5s ease-in-out;
}

.side-menu-content.open {
  transform: translateX(0);
}

.active-category {
  color: #135c3e;
  padding-bottom: 8px;
  border-bottom: solid 2px #135c3e;
}
