<!-- Empty Wishlist Message -->
<div class="flex  items-center justify-center h-[50vh] text-center p-2">
    <div class="relative">
        <i class="fa-solid fa-cart-plus text-9xl  text-gray-800 absolute top-9 left-0"></i>
        <i class="fa-solid fa-heart text-9xl text-[#8CA778B8] pl-9  "></i>
    </div>
    <div class="">
        <h2 class="text-3xl font-semibold text-gray-700 mb-7">You haven’t saved anything yet </h2>
        <a routerLink="/products"
            class="mt-4 p-3 bg-[#7CAD3F] text-white rounded-lg hover:bg-[#5B8329] transition h-12 md:h-14 border-2">
            start shopping </a>
    </div>
</div>