<div class="bg-[#D9D9D9] flex flex-col pb-8 px-10 md:px-16 py-10">
  <!-- head -->
  <h1 class="text-2xl sm:text-3xl font-semibold text-[#516344] mb-8 ">
    Customer Reviews
  </h1>
  <!-- Cards -->
  <div class="w-full mx-auto">
    <!-- card1 -->
    <div class="flex flex-col bg-[#FDFFF6] rounded-xl mb-4 p-6 gap-6">
      <p class="text-lg  lg:text-2xl font-semibold text-[#2E3926]">
        I love how these products help me maintain a balanced diet. They taste
        fantastic and keep me energized all day!
      </p>
      <!-- customer -->
      <div class="flex gap-4">
        <img class="w-20 md:w-20" src="./images/customer.svg" />
        <div class="  mt-4 md:mt-1">
          <h2 class="font-bold text-lg  md:text-2xl  text-[#2E3926] mb-3">Eily</h2>
          <p class="font-medium text-md  md:text-xl text-[#828282]">
            Verified Customer | Suez
          </p>
        </div>
      </div>
      <!-- Rate -->
      <img class="w-38" src="./images/rate.svg" />
    </div>

    <!-- card2 -->

    <div class="flex flex-col bg-[#FDFFF6] rounded-xl mb-4 p-6 gap-6">
      <p class="text-lg md:text-2xl font-semibold text-[#2E3926]">
        I love how these products help me maintain a balanced diet. They taste
        fantastic and keep me energized all day!
      </p>
      <!-- customer -->
      <div class="flex gap-4">
        <img class="w-20 md:w-20 " src="./images/customer.svg" />
        <div class=" mt-4 md:mt-1 ">
          <h2 class="font-bold text-lg  md:text-2xl  text-[#2E3926] mb-3">Eily</h2>
          <p class="font-medium  text-md  md:text-xl text-[#828282]">
            Verified Customer | Suez
          </p>
        </div>
      </div>
      <!-- Rate -->
      <img class="w-38 " src="./images/rate.svg" />
    </div>
    <input class="bg-[#7CAD3F]  md:text-lg text-[#FFFFFF] w-60 md:w-75 md:p-4 p-2 rounded-xl mt-2" type="button" value="View More Reviews"/>
  </div>


</div>

