<div class="bg-[#D9D9D9] flex flex-col pb-8">
  <!-- head -->
  <h1 class="text-2xl lg:text-4xl font-semibold text-[#516344] p-4 ml-45">
    Customer Reviews
  </h1>
  <!-- Cards -->
  <div class="w-5/6 mx-auto">
    <!-- card1 -->
    <div class="flex flex-col bg-[#FDFFF6] rounded-xl mb-4 p-6 gap-6">
      <p class="lg:text-2xl text-l font-semibold text-[#2E3926]">
        I love how these products help me maintain a balanced diet. They taste
        fantastic and keep me energized all day!
      </p>
      <!-- customer -->
      <div class="flex gap-4">
        <img class="w-32" src="./images/customer.svg" />
        <div class="mt-8">
          <h2 class="font-bold text-base lg:text-lg text-[#2E3926]">Eily</h2>
          <p class="font-medium text-base lg:text-lg text-[#828282]">
            Verified Customer | Suez
          </p>
        </div>
      </div>
      <!-- Rate -->
      <img class="w-32" src="./images/rate.svg" />
    </div>

    <!-- card2 -->

    <div class="flex flex-col bg-[#FDFFF6] rounded-xl p-6 gap-6">
      <p class="text-l lg:text-2xl font-semibold text-[#2E3926]">
        I love how these products help me maintain a balanced diet. They taste
        fantastic and keep me energized all day!
      </p>
      <!-- customer -->
      <div class="flex gap-4">
        <img class="w-32" src="./images/customer.svg" />
        <div class="mt-8">
          <h2 class="font-bold text-base lg:text-lg text-[#2E3926]">Eily</h2>
          <p class="font-medium text-base lg:text-lg text-[#828282]">
            Verified Customer | Suez
          </p>
        </div>
      </div>
      <!-- Rate -->
      <img class="w-32" src="./images/rate.svg" />
    </div>
  </div>
</div>
