<div class="features bg-[#F8F9F5] px-10 md:px-16 py-10">
    <h2 class="mb-8 text-2xl sm:text-3xl text-[#102900B8] font-medium px-1">Featured Products Just for You</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow-2xl rounded-lg py-5 cursor-pointer" appHover>
             <img src="Images/feature1.png" class="m-auto" alt="Feature 1" 
                 [appHover]="'Images/feature2.png'">
             <h3 class="font-medium px-5 mb-3 text-2xl sm:text-xl lg:text-2xl">Multi Mix Flour</h3>
             <p class="text-[#828282] leading-8 text-xl sm:text-lg lg:text-xl px-5">
                 A versatile, gluten-free flour blend perfect for baking healthy breads and pastries.
                 <br/>Packed with essential nutrients to support your balanced diet.
             </p>
         </div>
         <div class="bg-white shadow-2xl rounded-lg py-5 cursor-pointer" appHover>
             <img src="Images/feature2.png" class="m-auto" alt="Feature 2" 
                 [appHover]="'Images/feature3.png'">
             <h3 class="font-medium px-5 mb-3 text-2xl sm:text-xl lg:text-2xl">Coconut Water</h3>
             <p class="text-[#828282] leading-8 text-xl sm:text-lg lg:text-xl px-5">
                 Refreshingly hydrating and full of natural electrolytes.
                 <br/>An ideal everyday beverage to help you stay energized and replenished
             </p>
         </div>
         <div class="bg-white shadow-2xl rounded-lg py-5 cursor-pointer" appHover>
             <img src="Images/feature3.png" class="m-auto" alt="Feature 3" 
                 [appHover]="'Images/feature2.png'">
             <h3 class="font-medium px-5 mb-3 text-2xl sm:text-xl lg:text-2xl">Subheading</h3>
             <p class="text-[#828282] leading-8 text-xl sm:text-lg lg:text-xl px-5">
                 Refreshingly hydrating and full of natural electrolytes.
                 <br/>An ideal everyday beverage to help you stay energized and replenished
             </p>
         </div>
    </div>
</div>
 
