.custom-tab-label {
  font-weight: bold;
  color: #6C6D6E;
  padding: 10px 0px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.custom-tab-label:hover {
  color: #1B8057;
}

.custom-tab-label.active {
  color: #1B8057;
}
