<form
  [formGroup]="myform"
  (ngSubmit)="onSubmit()"
  class="grid grid-cols-4 max-w-[1920px] md:grid-cols-12 bg-[#FDFFF6] gap-x-[1.5rem] md:gap-x-[2.5rem] px-[1.5rem] md:px-[10rem] cursor-default py-[1.8rem] md:py-0">
  <div class="col-span-5 md:-ml-[10rem] hidden md:block">
    <img
      src="images/sign up/pexels-photo-9070110 2.svg"
      class="w-full h-full object-cover" />
  </div>
  <div class="col-span-4 md:col-span-6 md:col-start-7 flex flex-col gap-6">
    <div class="text-form flex flex-col gap-1">
      <h1 class="text-[#7CAD3F] text-[2.5rem] font-bold">Creat An Account</h1>
      <p class="text-[#749A44] text-xl font-normal flex gap-1">
        Already have an account?<span
          class="text-[#58595A] text-xl underline font-semibold cursor-pointer"
          >login</span
        >
      </p>
    </div>
    <div class="form-field flex flex-col gap-8">
      <div class="md:grid grid-cols-2 gap-x-[2.5rem] flex flex-col gap-8">
        <div class="field-firstname relative flex flex-col gap-1">
          <input
            id="firstname"
            type="text"
            placeholder="First Name"
            class="peer w-full border-2 rounded-lg h-12 p-3 border-[#7CAD3F] focus:outline-none focus:border-[#718b5d] placeholder-transparent"
            autocomplete="off" />

          <label
            for="firstname"
            class="absolute left-3 top-1/2 transform -translate-y-1/2 transition-all duration-300 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-focus:top-[-1.4rem] peer-focus:-translate-y-0 not-peer-placeholder-shown:top-[-1.4rem] not-peer-placeholder-shown:-translate-y-0 bg-[#FDFFF6] px-2 font-normal text-xl text-[#8B8C8A] flex gap-2 items-center"
            ><i class="fa-solid fa-user text-[#58595A]"></i>First Name</label
          >
          <!--  -->

          <!--  -->
        </div>
        <!-- end fn-->
        <div class="field-lastname relative">
          <input
            id="lastname"
            type="text"
            placeholder="Last Name"
            class="peer w-full border-2 rounded-lg h-12 p-3 border-[#7CAD3F] focus:outline-none focus:border-[#718b5d] placeholder-transparent"
            autocomplete="off" />
          <label
            for="lastname"
            class="absolute left-3 top-1/2 transform -translate-y-1/2 transition-all duration-300 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-focus:top-[-1.4rem] peer-focus:-translate-y-0 not-peer-placeholder-shown:top-[-1.4rem] not-peer-placeholder-shown:-translate-y-0 bg-[#FDFFF6] px-2 font-normal text-xl text-[#8B8C8A] flex gap-2 items-center"
            ><i class="fa-solid fa-user text-[#58595A]"></i>Last Name</label
          >
        </div>
      </div>
      <!-- end ln -->
      <div class="field-email relative">
        <input
          id="Email"
          type="email"
          placeholder="First Name"
          class="peer w-full border-2 rounded-lg h-12 p-3 border-[#7CAD3F] focus:outline-none focus:border-[#718b5d] placeholder-transparent"
          autocomplete="off" />
        <label
          for="Email"
          class="absolute left-3 top-1/2 transform -translate-y-1/2 transition-all duration-300 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-focus:top-[-1.4rem] peer-focus:-translate-y-0 not-peer-placeholder-shown:top-[-1.4rem] not-peer-placeholder-shown:-translate-y-0 bg-[#FDFFF6] px-2 font-normal text-xl text-[#8B8C8A] flex gap-2 items-center"
          ><i class="fa-solid fa-envelope text-[#58595A]"></i>Email</label
        >
      </div>
      <!-- end email -->
      <div class="flex flex-col gap-8">
        <div>
          <div class="field-password relative">
            <input
              id="Password"
              type="password"
              placeholder="First Name"
              class="peer w-full border-2 rounded-lg h-12 p-3 border-[#7CAD3F] focus:outline-none focus:border-[#718b5d] placeholder-transparent"
              autocomplete="off" />
            <label
              for="Password"
              class="absolute left-3 top-1/2 transform -translate-y-1/2 transition-all duration-300 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-focus:top-[-1.4rem] peer-focus:-translate-y-0 not-peer-placeholder-shown:top-[-1.4rem] not-peer-placeholder-shown:-translate-y-0 bg-[#FDFFF6] px-2 font-normal text-xl text-[#8B8C8A] flex gap-2 items-center"
              ><i class="fa-solid fa-lock text-[#58595A]"></i>Password</label
            >
            <span
              class="absolute text-[#58595A] top-1/2 -translate-y-1/2 right-3 text-xl cursor-pointer"
              (click)="togglePassword()">
              <li
                [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></li>
            </span>
          </div>
          <!-- error here   -->
        </div>
        <!-- end password -->
        <div class="flex items-center gap-2">
          <input type="checkbox" class="w-5 h-5 cursor-pointer" id="check" />
          <label for="check" class="text-[#749A44] font-normal text-[1rem]"
            >I agree to the
            <span
              class="underline text-[#58595A] font-semibold cursor-pointer text-[1rem]"
              >terms & conditions</span
            ></label
          >
        </div>
      </div>
      <!-- end password+checkbox -->
      <div class="buttons flex flex-col gap-8">
        <button
          class="p-3 w-full border rounded-lg h-12 bg-[#7CAD3F] text-[#F5F8F5] font-bold text-2xl flex items-center justify-center shadow-[0px_4px_10px_rgba(124,173,63,0.25)] hover:-translate-y-1 cursor-pointer transition-all duration-300 ease-in-out">
          Create My Account
        </button>
        <div class="flex w-full justify-center items-center gap-2">
          <div class="flex-1 h-[2px] bg-[#7CAD3F]"></div>
          <p class="text-[#7CAD3F] font-semibold text-xl">Or Sign up with</p>
          <div class="flex-1 h-[2px] bg-[#7CAD3F]"></div>
        </div>
        <button
          class="p-3 w-full border-2 border-[#7CAD3F] h-12 rounded-lg text-[#7CAD3F] font-bold text-2xl flex items-center justify-center gap-4 shadow-[0px_4px_10px_rgba(124,173,63,0.25)] hover:-translate-y-1 cursor-pointer transition-all duration-300 ease-in-out">
          <img src="images/sign up/google color.svg" class="w-6 h-6" />Google
        </button>
        <div
          class="flex gap-2 items-center text-xl text-[#7CAD3F] cursor-pointer">
          <i class="fa-solid fa-chevron-left"></i
          ><span class="underline font-semibold">Back to Home</span>
        </div>
      </div>
    </div>
  </div>
</form>
