<div
  class="w-full h-[90vh] min-h-[400px] flex flex-wrap items-center justify-center">
  <img
    src="images/home/quote/1.jpg"
    class="w-1/2 h-full object-cover hidden md:block"
    alt="" />
  <img
    src="images/home/quote/3.jpg"
    class="w-full md:w-1/2 h-full object-cover"
    alt="" />
  <div class="flex flex-col justify-center absolute z-10 mx-8 text-center">
    <span class="text-4xl sm:text-6xl font-bold text-green-100"
      >Stay Vibrant Every Day</span
    >
    <span class="text-green-100/70 text-base sm:text-xl mt-6 md:mt-12 px-4"
      >We believe that care of your health starts with simple steps. <br />
      Discover our tips and products to help you achieve a balanced and healthy
      lifestyle</span
    >
  </div>
  <!-- <div
    class="absolute mt-6 h-1/2 md:h-2/3 w-full md:w-2/3 bg-black/70 rounded-2xl md:rounded-full blur-3xl"></div> -->
  <div class="absolute w-full h-[90vh] bg-black/60"></div>
</div>
