<!-- no data -->
<div *ngIf="cartItems?.length === 0" class="flex justify-center cursor-default">
  <div
    class="md:grid grid-cols-[auto_auto] flex flex-col justify-center items-center gap-[18px] md:gap-[48px] lg:py-[88px] py-[44px] px-5 md:px-20 xl:px-40">
    <img src="images/cart/cart empty.svg" class="w-[200px] h-[200px]" />

    <div class="text-center flex flex-col gap-[12px]">
      <p class="text-[24px] font-semibold text-[#121311]">
        Oops! your cart is feeling lonely
      </p>
      <p class="text-[#58595A] text-[16px] font-medium">
        Add your favorite products and enjoy a great shopping experience!
      </p>
      <button
        routerLink=""
        class="mx-auto bg-[#1B8057] hover:bg-[#135C3E] shadow-[0_4px_4px_rgba(38,75,45,0.25)] px-4 py-2 mt-[1rem] rounded-[8px] text-[#F5F8F5] h-[56px] w-[230px] text-[20px] font-semibold cursor-pointer">
        Shop Now
      </button>
    </div>
    <!-- suggest part -->
  </div>
</div>

<!-- start here -->
<div
  *ngIf="cartItems.length > 0"
  class="grid md:grid-cols-12 grid-cols-4 px-5 md:px-20 xl:px-40 gap-x-5 lg:gap-x-10 py-[44px] lg:py-[88px] bg-white cursor-default">
  <div class="grid lg:col-span-7 md:col-span-12 col-span-4">
    <div
      class="2xl:h-[95px] lg:h-[80px] md:h-[65px] h-[50px] bg-[#1B8057] text-[#F5F8F5] flex 2xl:mb-[24px] p-4 xl:mb-[24px] md:mb-[20px] lg:mb-[16px] mb-[16px] items-center 2xl:p-3 md:p-2 rounded-[8px] md:text-[16px] 2xl:text-[20px] xl:text-[16px] lg:text-[14px] lg:p-3 font-semibold text-[12px] justify-between">
      <p class="w-1/2 whitespace-nowrap">Products</p>
      <div class="flex lg:gap-2 xl:gap-4 2xl:gap-5 md:gap-2 gap-3">
        <p class="whitespace-nowrap">Price</p>
        <p class="whitespace-nowrap">Quantity</p>
        <p class="whitespace-nowrap">SubTotal</p>
      </div>
    </div>

    <div
      *ngFor="let product of cartItems; trackBy: track"
      class="card flex items-center 2xl:py-[8px] border-b-2 border-[#C5C4C4] 2xl:gap-6 xl:py-[8px] py-[8px] gap-4 xl:gap-6 md:py-[12px] lg:gap-2 md:gap-4 justify-between lg:py-[12px]">
      <div class="flex gap-2 items-center flex-grow">
        <i
          class="fa-solid fa-rectangle-xmark shadow-[0_4px_4px_rgba(248,197,25,0.15)] text-[#F8C519] xl:text-xl 2xl:text-2xl lg:text-md cursor-pointer md:text-lg text-[16px]"
          (click)="removeproduct(product._id)"></i>
        <img
          [src]="product.images[0].imageUrl"
          class="w-full h-auto 2xl:max-w-[130px] xl:max-w-[110px] lg:max-w-[85px] md:max-w-[80px] max-w-[70px]"
          alt="product image" />

        <div
          class="flex flex-col 2xl:gap-[6px] xl:gap-[4px] lg:gap-[4px] md:gap-[4px] gap-[2px]">
          <h1
            class="xl:text-[16px] 2xl:text-[20px] lg:text-[14px] md:text-[16px] text-[14px] font-semibold text-[#1B8057]">
            {{ product.name }}
          </h1>
          <p
            class="xl:text-[12px] 2xl:text-[12px] lg:text-[10px] md:text-[12px] text-[10px] text-[#121311] font-light">
            {{ product.brief }}
          </p>
        </div>
      </div>

      <div
        class="flex justify-between items-center md:gap-3 lg:gap-3 xl:gap-4 2xl:gap-5 gap-3 2xl:pr-6 xl:pr-4 lg:pr-4 md:pr-2 pr-4">
        <p
          class="2xl:font-semibold text-[12px] xl:font-semibold lg:font-semibold font-semibold text-[#1B8057] 2xl:text-lg xl:text-[16px] lg:text-[16px] md:text-[16px]">
          ${{ product.price }}
        </p>

        <div class="flex items-center">
          <button
            (click)="decreaseQuantity(product)"
            class="border px-[10px] md:px-[12px] h-[30px] w-[20px] md:w-[25px] md:h-[30px] lg:w-[25px] lg:h-[30px] 2xl:h-[40px] 2xl:w-[35px] xl:w-[30px] xl:h-[35px] flex items-center justify-center text-center 2xl:text-xl xl:text-xl lg:text-lg font-medium cursor-pointer border-[#121311] rounded-l-[8px] text-[12px]">
            -
          </button>
          <span
            class="border-b border-t md:px-[12px] px-[10px] lg:w-[25px] lg:h-[30px] h-[30px] w-[20px] md:w-[25px] md:h-[30px] xl:w-[35px] xl:h-[35px] 2xl:h-[40px] 2xl:w-[35px] flex items-center justify-center 2xl:text-xl xl:text-xl font-medium border-[#121311] lg:text-lg text-[12px]"
            >{{ product.quantity }}</span
          >
          <button
            (click)="increaseQuantity(product)"
            class="border px-[10px] md:px-[12px] h-[30px] w-[20px] md:w-[25px] md:h-[30px] lg:w-[25px] lg:h-[30px] 2xl:h-[40px] 2xl:w-[35px] xl:w-[30px] xl:h-[35px] flex items-center justify-center text-center 2xl:text-xl xl:text-xl font-medium cursor-pointer border-[#121311] rounded-r-[8px] lg:text-lg text-[12px]">
            +
          </button>
        </div>

        <p
          class="text-2xl 2xl:font-semibold text-[12px] xl:font-semibold xl:text-[16px] text-[#1B8057] 2xl:text-lg flex-shrink whitespace-nowrap lg:text-[16px] lg:font-semibold md:text-[16px] font-semibold">
          ${{ calculateSubTotal(product) }}
        </p>
      </div>
    </div>
    <div
      class="flex flex-row-reverse 2xl:pt-[24px] xl:pt-[16px] lg:pt-[12px] pt-[12px] md:pt-[16px] pb-[20px] lg:pb-[0px]">
      <p
        class="text-[#1B8057] underline 2xl:text-[20px] xl:text-[16px] lg:text-[16px] md:text-[16px] font-semibold cursor-pointer 2xl:pr-6 xl:pr-4 lg:pr-4 md:pr-2 pr-4 text-[16px]"
        (click)="showPopup = true">
        Clear Shopping Cart
      </p>
    </div>
  </div>

  <div class="lg:col-span-1 min-w-[16px]"></div>

  <div
    class="lg:col-span-4 md:col-span-12 col-span-4 lg:border-2 border-[#C5C4C4] 2xl:px-[40px] xl:px-6 rounded-[8px] h-auto self-start lg:px-4">
    <h2
      class="hidden 2xl:text-2xl xl:text-xl lg:text-xl md:text-[20px] font-semibold text-[#1B8057] 2xl:h-[95px] h-[50px] xl:h-[80px] lg:h-[80px] md:h-[65px] lg:flex items-center border-b-2 border-[#C5C4C4] text-[20px]">
      Order Summary
    </h2>
    <div
      class="flex justify-between flex-col border-b-2 text-[#58595A] 2xl:text-[18px] xl:text-[16px] 2xl:gap-[16px] xl:gap-[12px] lg:gap-4 2xl:py-[16px] xl:py-[16px] lg:py-[16px] md:py-[16px] py-[16px] gap-[12px] md:gap-[8px] text-[16px] border-[#C5C4C4]">
      <div class="lg:flex justify-between hidden">
        <span class="font-semibold">Items :</span>
        <span
          class="font-medium 2xl:text-[18px] xl:text-[16px] text-[16px] text-[#121311]"
          >{{ calculateTotalItems() }}</span
        >
      </div>
      <div class="flex justify-between">
        <span class="font-semibold">SubTotal :</span
        ><span
          class="font-medium 2xl:text-[18px] xl:text-[16px] text-[16px] text-[#121311]"
          >{{ calculateTotalPrice() }}</span
        >
      </div>
      <div class="lg:flex hidden justify-between">
        <span class="font-semibold">Shipping :</span
        ><span
          class="font-medium 2xl:text-[18px] xl:text-[16px] text-[16px] text-[#121311]"
          >Free</span
        >
      </div>
    </div>

    <div
      class="2xl:pt-[20px] xl:pt-[16px] pt-[20px] flex flex-col 2xl:gap-[32px] xl:gap-[24px] gap-[24px]">
      <div class="lg:flex justify-between hidden">
        <span
          class="font-semibold text-[#58595A] 2xl:text-[18px] xl:text-[16px] text-[16px]"
          >Total :</span
        >
        <span
          class="font-medium 2xl:text-[18px] xl:text-[16px] text-[#121311] text-[16px]"
          >{{ calculateTotalPrice() }}</span
        >
      </div>

      <div
        class="flex lg:justify-center justify-end 2xl:pb-[28px] xl:pb-[24px] pb-[24px] text-[16px]">
        <button
          routerLink="/payment"
          class="bg-[#1B8057] hover:bg-[#135C3E] text-[#F5F8F5] h-[56px] w-full md:w-[175px] 2xl:w-[250px] xl:w-[220px] lg:w-[180px] lg:h-[56px] 2xl:text-[18px] xl:text-[16px] text-[16px] md:text-[14px] font-semibold rounded-[8px] cursor-pointer">
          Proceed to Checkout
        </button>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="showPopup"
  class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 w-full h-full flex justify-center items-center bg-[#121311] opacity-97"
  (click)="showPopup = false">
  <div
    class="bg-[#ffff] border border-[#C5C4C4] shadow-lg rounded-[8px] md:w-[450px] md:h-[250px] flex flex-col p-6 gap-[16px]"
    (click)="$event.stopPropagation()">
    <div class="flex justify-end">
      <i
        class="fa-solid fa-rectangle-xmark text-[#F8C519] shadow-[0_4px_4px_rgba(248,197,25,0.25)] text-2xl cursor-pointer"
        (click)="showPopup = false"></i>
    </div>
    <div class="flex flex-col flex-1 justify-center items-center gap-6 px-2">
      <p class="text-center text-[#121311] mb-2 lg:text-[18px] font-medium">
        Are you sure you want to clear your entire cart?
      </p>
      <div class="flex justify-center gap-6">
        <button
          (click)="showPopup = false"
          class="bg-[#1B8057] hover:bg-[#135C3E] shadow-[0_4px_4px_rgba(38,75,45,0.25)] px-4 py-2 rounded-[8px] text-[#F5F8F5] h-[56px] w-[140px] 2xl:w-[140px] 2xl:text-[20px] font-medium cursor-pointer">
          Cancel
        </button>
        <button
          (click)="clearCart()"
          class="bg-[#E6B200] hover:bg-[#C0991B] shadow-[0_4px_4px_rgba(248,197,25,0.25)] text-[#F5F8F5] px-4 py-2 rounded-[8px] h-[56px] w-[140px] 2xl:w-[140px] 2xl:text-[20px] font-medium cursor-pointer">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="showPopup"
  class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 w-full h-full flex justify-center items-center bg-[#121311] opacity-97"
  (click)="showPopup = false">
  <div
    class="bg-[#ffff] border border-[#C5C4C4] shadow-lg rounded-[8px] md:w-[450px] md:h-[250px] flex flex-col p-6 gap-[16px]"
    (click)="$event.stopPropagation()">
    <div class="flex justify-end">
      <i
        class="fa-solid fa-rectangle-xmark text-[#F8C519] text-2xl cursor-pointer"
        (click)="showPopup = false"></i>
    </div>
    <div class="flex flex-col flex-1 justify-center items-center gap-6 px-2">
      <p class="text-center text-[#121311] mb-2 lg:text-[16px] font-medium">
        Are you sure you want to clear your entire cart?
      </p>
      <div class="flex justify-center gap-6">
        <button
          (click)="showPopup = false"
          class="bg-[#1B8057] hover:bg-[#135C3E] shadow-[0_4px_4px_rgba(38,75,45,0.25)] px-4 py-2 rounded-[8px] text-[#F5F8F5] h-[56px] w-[140px] 2xl:w-[140px] 2xl:text-[20px] font-medium cursor-pointer">
          Cancel
        </button>
        <button
          (click)="clearCart()"
          class="bg-[#E6B200] hover:bg-[#C0991B] text-[#F5F8F5] px-4 py-2 rounded-[8px] h-[56px] w-[140px] 2xl:w-[140px] 2xl:text-[20px] font-medium cursor-pointer">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
