<div>
  <h1 class="mt-8 text-2xl font-bold text-[#2F302E]">Key Ingredients:</h1>
  <p class="my-4 text-justify text-[#6C6D6E]">
    These carefully selected ingredients are chosen for their nutritional value
    and health benefits, ensuring a product that supports a balanced lifestyle
    while offering a distinctive taste.
  </p>
  <ul class="text-[#6C6D6E] font-semibold list-disc px-5">
    @for (ingredient of productIngredients; track ingredient) {
      <li class="mb-3">{{ ingredient }}</li>
    }
  </ul>
</div>
